body {
    background-color: #f1f6ff;
    margin: 0;
    text-align: center;
    
}

p {
    line-height: 30px;
    font-size: 20px;
}
.logo {
    width: 100px;
    height: 100px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 8rem ;
}
.left_menu {
    margin: 8px;
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}

.menu_link {
    text-decoration: none;
    color: #081d43;
    padding: 0.8rem 1.5em;   
}
.menu_link:hover {
    background-color: #0050c8;
    padding: 0.8rem 1.5em;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;  
}



.main_text{
    padding: 4px;
    border: 2px solid #d4d3d3;
}
    


.main {
    margin:8px 8rem;
    
}

.main_title {
    color: #081d43;
}

.main_btn {
    background-color: #05a000;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    
    
}
.main_btn:hover {
    background-color: #09ff00; 
}

.main_img {
    
    margin-top: 5rem;
}



























.teacher_section{
    background-color: #2F5BEA;
    color: #fff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    margin:2rem 8rem;
    
}

.teacher{
    background-color: #fff;
    border-radius: 5px;
    color: #000000;
    max-width: 30rem;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.teacher__body{
    margin-bottom: 5px;
    line-height: 1.5rem;
    margin: 0;
}
.teacher__info{
    width: 150px;
    border-left: 2px solid #d4d3d3;
}

.companies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}
.companies__img{
    display: block;
    margin: 1rem;
}











